<div id="container">
    <nav>
        <ul>
            <li><a routerLink="/tableCubes">General</a></li>
            <li><a routerLink="/offersCubes">Ofertas</a></li>
            <li><a routerLink="/newCube">Añadir cubo <i class="down"></i></a>
                <!-- Primer Menu Desplegable -->
            <li><a routerLink="/login">Login</a></li>
            <li>
                <button routerLink="/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span>0</span>
                </button>
            </li>
        </ul>
    </nav>

</div>